<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd">

    <!-- Defining a bean -->
    <bean id="tasklet" class="ir.david.MyTasklet"/>
    <!-- Defining a job-->
    <batch:job id="helloWorldJob">
        <!-- Defining a Step -->
        <batch:step id="step1">
            <tasklet ref="tasklet"/>
        </batch:step>
    </batch:job>

</beans>